// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

body {
    background-color: #f8f9fa !important;
}

/* Header Studio */
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    h3 {
        margin: 0 !important;
    }
}

.main {
    margin-top: 5rem;
}

.cursor-pointer {
    cursor: pointer;
}
