@media screen and (min-width: 992px) and (max-width: 1199px) {
	/*----------------------Banner-------------------*/
	.homebotao{
		margin-top: 100px;
	}
	.banner-fundo{
		height: 500px;
	}
	.destaque-img {
		margin-top: 35px;
	}
	/*----------------------Banner-------------------*/
	/*----------------------orçamento-------------------*/
	.orcamento img{
		width: 100%;
	}
	.orcamento {
		padding: 50px 0;
	}
	/*----------------------orçamento-------------------*/


	/*----------------------EMPRESA - prev produtos-------------------*/
	.prev-int-produtos p {
		margin: 25px 0 0 0;
	}
	.prev-int-produtos a{
		margin-top: 45px;
	}
	/*----------------------EMPRESA - prev produtos-------------------*/

}
@media screen and (min-width: 768px) and (max-width: 991px) {
	/*----------------------Topo-------------------*/
	.logo img {
		width: 170px;
		display: block;
		margin-left: 20px;
	}
	.searchnav {
		margin-right: 20px;
	}
	.menu {
		text-align: center;
	}
	.nav{
		display: inline-block;
	    width: 100%;
	    text-align: center;
	    padding: 60px 0px 0px 0;
	}
	/*----------------------Topo-------------------*/
	/*----------------------Banner-------------------*/
	.homebotao{
		margin-top: 70px;
	}
	.banner-fundo{
		height: 400px;
	}
	.destaque-img {
		margin-top: 40px;
	}
	.homebotao span.text{
		font-size: 35px;
		line-height: 30px;
	}
	.homebotao span.text strong {
		font-size: 60px;
	}
	.btn-banner {
		font-family: "Longdoosi";
		border-radius: 40px;
		padding: 13px 13px 13px 13px;
		font-size: 16px;
	}
	/*----------------------Banner-------------------*/
	/*----------------------prev produto-------------------*/
	.item-chamada {
		height: 225px;
		font-size: 23px;
		line-height: 27px;
		padding: 25px;
	}
	/*----------------------prev produto-------------------*/
	/*----------------------orçamento-------------------*/
	.orcamento img{
		width: 100%;
	}
	.orcamento {
		padding: 50px 0;
	}
	.orcamento .btn {
		height: 47px;
	}
	.orcamento .btn i {
		padding: 8px;
	}
	.orcamento .btn span { 
		font-size: 18px;
	}
	/*----------------------orçamento-------------------*/
	/*----------------------Atendente-------------------*/
	.form-contato img {
		max-height: 300px;
		margin: auto;
	}
	.form-contato h4 span {
		text-align: center;
	}
	.form-contato ul {
		text-align: right;
	}
	/*----------------------Atendente-------------------*/
	/*----------------------EMPRESA - prev produtos-------------------*/


	.prev-int-produtos p {
		margin: 25px 0 0 0;
	}
	.prev-int-produtos a{
		margin-top: 30px;
	}
	.prev-int-produtos h4{
		font-size: 40px;
	}
	.prev-int-produtos img {
		max-width: 100%;
	}
	.prev-int-produtos p {
		font-size: 20px;
		line-height: 20px;
	}
	/*----------------------EMPRESA - prev produtos-------------------*/
}
@media screen and (min-width: 576px) and (max-width: 768px) {
	/*----------------------topo-------------------*/
	.content-top {
		padding: 14px 0;
	}
	.logo {
		width: 100%;
		text-align: center;
		margin-bottom: 15px;
	}
	.logo img {
		width: 170px;
		display: block;
		margin: auto;
	}
	.action {
		float: none;
		margin: auto;
	}
	.group-seart {
		float: none;
		margin: auto;
		width: 100%;
	}
	.searchnav {
		float: none;
		width: 100%;
	}
	.menu {
		text-align: center;
		position: relative;
		width: 100%;
	}
	.nav{
		display: block;
	    width: 100%;
	    text-align: center;
		padding: 0;
		margin-top: 10px;
		overflow: hidden;
		height: 40px;
		background:#ffffff;
	}
	.menu nav a{
		display: block;
	}
	.botao_responsive {
		display: block;
	}
	/*----------------------topo-------------------*/
	/*----------------------Banner-------------------*/
	.phone {
		width: 180px;
		height: 40px;
		position: relative;
		margin-top: 0px;
		float: right;
	}
	.phone span {
		font-size: 11px;
		line-height: 13px;
	}
	.phone strong {
		font-size: 14px;
	}
	.phone i{
		padding: 5px;
		padding-left: 16px;
	}
	.homebotao{
		margin-top: 30px;
	}
	.banner-fundo{
		height: 350px;
	}
	.destaque-img {
		margin-top: 40px;
	}
	.homebotao span.text{
		font-size: 20px;
		line-height: 19px;
		margin-bottom: 10px;
	}
	.homebotao span.text strong {
		font-size: 40px;
		line-height: 39px;
	}
	.btn-banner {
		display: block;
		text-align: center;
		margin-bottom: 10px;
		padding: 8px;
		font-size: 16px;
	}
	/*----------------------Banner-------------------*/
	/*----------------------Destaques-------------------*/
	.destaques p {
		margin-bottom: 40px;
	}
	/*----------------------Destaques-------------------*/
	/*----------------------prev produto-------------------*/
	.item-chamada {
		height: 225px;
		font-size: 23px;
		line-height: 27px;
		padding: 25px;
	}
	/*----------------------prev produto-------------------*/
	/*----------------------orçamento-------------------*/
	.orcamento img{
		width: 100%;
		bottom: 0px;
	}
	.orcamento {
		padding: 50px 0;
	}
	.orcamento .btn {
		height: 47px;
	}
	.orcamento .btn i {
		padding: 8px;
	}
	.orcamento .btn span { 
		font-size: 14px;
	}
	.orcamento h3{
		text-align: center;
		font-size: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.orcamento .btn {
		float: none;
		display: block;
	}
	/*----------------------orçamento-------------------*/
	/*----------------------empresa-------------------*/
	.prev-empresa {
		padding: 50px;
	}
	/*----------------------empresa-------------------*/
	/*----------------------Atendente-------------------*/
	.form-contato {
		padding-top: 50px;
		padding-bottom: 100px;
		
	}
	.form-contato .container {
		padding-bottom: 50px;
	}
	.form-contato img {
		max-height: 300px;
		margin: auto;
	}
	.form-contato h4 {
		margin-bottom: 10px;
	}
	.form-contato h4 span {
		text-align: center;
	}
	.form-contato ul {
		text-align: center;
	}
	.form-contato .mt {
		margin-top: 20px;
	}
	/*----------------------Atendente-------------------*/

	/*----------------------EMPRESA - prev produtos-------------------*/

	.prev-int-produtos {
		height: 110px;
	}
	.prev-int-produtos p {
		margin: 25px 0 0 0;
	}
	.prev-int-produtos a{
		margin-top: 30px;
	}
	.prev-int-produtos h4{
		font-size: 40px;
	}
	.prev-int-produtos img {
		max-width: 100%;
	}
	.prev-int-produtos p {
		font-size: 20px;
		line-height: 20px;
	}
	.title {
		padding: 20px 0;
	}
	.title h2 {
		font-size: 40px;
	}


	a.box-whats {
		width: 100%;
		position: fixed;
		right: 0;
		bottom: 0;
		border-radius: 0;
	}
	a.box-whats span {
		display: inline-block;
	}
}

@media screen and (min-width: 100px) and (max-width: 576px) {
	/*----------------------topo-------------------*/
	.content-top {
		padding: 20px 0;
	}
	.logo {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.logo img {
		width: 170px;
		display: block;
		margin: auto;
	}
	.action {
		float: none;
		margin: auto;
	}
	.group-seart {
		float: none;
		margin: auto;
		width: 100%;
	}
	.searchnav {
		float: none;
		width: 100%;
	}
	.menu {
		text-align: center;
		position: relative;
		width: 100%;
	}
	.nav{
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
		margin-top: 10px;
		overflow: hidden;
		height: 38px;
		background: #ffffff;
	}
	.content-top {
		padding: 10px 0;
	}
	.menu nav a{
		display: block;
	}
	.botao_responsive {
		display: block;
	}
	input.search-field {
		width: 126px;
	}
	/*----------------------topo-------------------*/
	/*----------------------Banner-------------------*/
	.phone {
		width: 180px;
		height: 40px;
		position: relative;
		margin-top: 0px;
		float: right;
	}
	.phone span {
		font-size: 11px;
		line-height: 13px;
	}
	.phone strong {
		font-size: 14px;
	}
	.phone i{
		padding: 5px;
		padding-left: 16px;
	}
	.homebotao{
		margin-top: 0px;
	}
	.banner-fundo{
		height: 480px;
		background: #ffdc48;
	}
	.destaque-img {
		margin-top: 20px;
	}
	.homebotao span.text{
		font-size: 20px;
		line-height: 19px;
		margin-bottom: 10px;
	}
	.homebotao span.text strong {
		font-size: 40px;
		line-height: 39px;
	}
	.destaque-img img {
		max-width: 273px;
		margin: auto;
		display: block;
	}
	.btn-banner {
		text-align: center;
		margin-bottom: 10px;
		padding: 8px;
		font-size: 16px;
	}
	/*----------------------Banner-------------------*/
	/*----------------------Destaques-------------------*/
	.destaques p {
		margin-bottom: 40px;
	}
	/*----------------------Destaques-------------------*/
	/*----------------------prev produto-------------------*/
	.item-chamada {
		height: 195px;
		font-size: 23px;
		line-height: 27px;
		padding: 25px;
	}
	/*----------------------prev produto-------------------*/
	/*----------------------orçamento-------------------*/
	.orcamento img{
		width: 100%;
		bottom: 0px;
	}
	.orcamento {
		padding: 50px 0;
	}
	.orcamento .btn {
		height: 47px;
	}
	.orcamento .btn i {
		padding: 8px;
	}
	.orcamento .btn span { 
		font-size: 14px;
	}
	.orcamento h3{
		text-align: center;
		font-size: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.orcamento .btn {
		float: none;
		display: block;
	}
	/*----------------------orçamento-------------------*/
	/*----------------------empresa-------------------*/
	.prev-empresa {
		padding: 30px;
	}
	/*----------------------empresa-------------------*/
	/*----------------------Atendente-------------------*/
	.form-contato img {
		max-height: 300px;
		margin: auto;
	}
	.form-contato h4 span {
		text-align: center;
	}
	.form-contato ul {
		text-align: center;
	}
	.form-contato {
		padding-top: 50px;
		padding-bottom: 100px;
		
	}
	.form-contato .container {
		padding-bottom: 50px;
	}
	.form-contato .destaque-img {
		display: none;
	}
	.form-contato h4 {
		margin-bottom: 10px;
	}
	.form-contato h4 span {
		text-align: center;
	}
	.form-contato ul {
		text-align: center;
	}
	.form-contato .mt {
		margin-top: 20px;
	}
	/*----------------------Atendente-------------------*/
	/*----------------------EMPRESA - prev produtos-------------------*/

	.prev-int-produtos {
		height: 110px;
	}
	.prev-int-produtos p {
		margin: 25px 0 0 0;
	}
	.prev-int-produtos a{
		margin-top: 30px;
	}
	.prev-int-produtos h4{
		font-size: 40px;
	}
	.prev-int-produtos img {
		max-width: 100%;
	}
	.prev-int-produtos p {
		font-size: 20px;
		line-height: 20px;
	}

	.title {
		padding: 20px 0;
	}
	.title h2 {
		font-size: 40px;
	}

a.box-whats {
		width: 100%;
		position: fixed;
		right: 0;
		bottom: 0;
		border-radius: 0;
	}
	a.box-whats span {
		display: inline-block;
	}

	/*----------------------EMPRESA - prev produtos-------------------*/
}
