body {
    margin: 0;
}
.p-relative {
    position: relative;
}
.font-default {
    font-family: tahoma;
    color: darkslategray;
}

/*----------------------Topo-------------------*/
header {
    background-color: #ffffff;
    margin: 0px;
}
.listra {
    height: 14px;
    background-image: url("../img/listra.png");
}
.content-top {
    padding: 36px 0 20px 0;
}
.searchnav {
    float: right;
    vertical-align: bottom;
}
.logo {
    float: left;
    top: 0;
}
.logo img {
    width: auto;
}
.searchnav {
    display: inline-block;
}
.menu nav a {
    font-family: "longdoosi";
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    font-size: 22px;
    margin: 0 10px 0 10px;
}
.menu {
    text-align: right;
    float: right;
    clear: both;
}
.action {
    margin: 0;
}
.group-seart,
.action {
    float: right;
    display: inline-flex;
}
.icon {
    border-radius: 50px;
    height: 40px;
    width: 80px;
    display: inline-block;
    padding: 6px 10px 10px 15px;
    font-size: 20px;
    color: #ffffff;
    float: left;
}
a.icon:hover {
    color: #ffffff;
}
.b-icon {
    border: 1px solid #fe0000;
    color: #fe0000;
    width: auto;
    padding: 8px 10px 10px 12px;
}
.nav {
    float: right;
    padding: 45px 0 0 0;
}
.nav-openned {
    height: auto !important;
}
.line {
    width: 100%;
    height: 2px;
    clear: both;
}
.search-field,
.btn-search {
    float: left;
}
.btn-search i {
    display: block;
}
input.search-field {
    border: 0px;
    height: 20px;
    width: auto;
    font-family: tahoma;
}
::-webkit-input-placeholder {
    font-family: tahoma;
    color: #9e9e9e;
    font-size: 16px;
}
input.search-field:-moz-placeholder {
    font-family: tahoma;
    color: #9e9e9e;
    font-size: 16px;
}
textarea:focus,
input:focus {
    outline: none;
}
.search input:focus {
    background-color: #ffffff;
}
.face {
    background: #3b5999;
    margin-right: -40px;
}
.insta {
    background: #d62978;
    margin-right: -40px;
}
.search {
    left: 80px;
    background: #ffffff;
}
.search input {
    display: inline-block;
}
.laranja {
    color: #f57514;
}
.vermelho {
    color: #f20032;
}
.azul {
    color: #1470ff;
}
.amarelo {
    color: #f2cb04;
}
.verde {
    color: #427660;
}
.menu .laranja:hover,
.menu .vermelho:hover,
.menu .azul:hover,
.menu .amarelo:hover,
.menu .verde:hover {
    color: #ffffff;
    transition: 0.4s;
}
.menu .laranja:hover {
    background-color: #f57514;
}
.menu .vermelho:hover {
    background-color: #f20032;
}
.menu .azul:hover {
    background-color: #1470ff;
}
.menu .amarelo:hover {
    background-color: #f2cb04;
}
.menu .verde:hover {
    background-color: #427660;
}

.botao_responsive {
    display: none;
}
/*----------------------Topo-------------------*/
/*----------------------Banner-------------------*/
.phone-posi {
    position: absolute;
    right: 0px;
    top: 22px;
    z-index: 999;
}
.phone {
    width: 200px;
    height: 50px;
    background: #f57513;
    border-radius: 50px;
    color: #ffffff;
}
.phone span,
.phone strong {
    display: inline-block;
    font-family: tahoma;
}
.phone span {
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
}
.phone strong {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.phone i {
    padding: 11px;
    padding-left: 16px;
    display: inline-block;
    font-size: 30px;
}
.banner-fundo {
    background-image: url("../img/banner_home.png");
    background-position: center;
    height: 638px;
    width: 100%;
    position: relative;
}
.homebotao {
    margin-top: 155px;
}
.homebotao span.text {
    font-family: "Longdoosi";
    font-size: 50px;
    text-transform: uppercase;
    line-height: 40px;
    width: 100%;
    display: block;
    margin-bottom: 35px;
}
.homebotao span.text strong {
    font-family: "Longdoosi";
    font-size: 90px;
    color: #790003;
    line-height: 80px;
}
.btn-banner {
    font-family: "Longdoosi";
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
    font-size: 22px;
}
.verprodutos,
.orcamento {
    text-decoration: none;
}
.btn-a,
.btn-b:hover {
    color: #ffffff;
    background-color: #f57514;
}
.btn-b,
.btn-a:hover {
    color: #f57514;
    background-color: #ffffff;
}
.homecontent {
    max-width: 1000px;
    margin: auto;
}
.hometxt,
.crianca {
    width: 49%;
    display: inline-block;
}
.hometxt {
    margin-top: 50px;
    text-align: left;
}
.destaque-img {
    margin-top: 90px;
}
.destaque-img img {
    width: 100%;
}
.section-dest {
    min-height: 400px;
}
.section-dest .container {
    position: relative;
}
.home-dest {
    background: #f57513;
}
.destaques {
    background: #ffffff;
    border-radius: 30px;
    padding: 40px 0;
}
.home-dest .destaques {
    margin-top: -65px;
}
.destaques h2 {
    font-family: "Longdoosi";
    font-size: 40px;
    margin: 15px 0 10px 0;
    text-transform: uppercase;
}
.destaques p {
    max-width: 80%;
    margin: auto;
    font-family: tahoma;
    color: #58595b;
    text-align: justify;
    font-size: 18px;
    line-height: 18px;
}
.destaques .col {
    text-align: center;
}
.destaques span {
    width: 100px;
    height: 100px;
    background: url(../img/splash.PNG);
    display: block;
    margin: auto;
}
.destaques span.diver {
    background-position-x: 200px;
}
.destaques span.segu {
    background-position-x: 100px;
}
.banner-fundo-titulo {
    background-image: url("../img/banner_home.png");
    background-position: bottom;
    height: 200px;
    width: 100%;
    position: relative;
}
/*----------------------Banner-------------------*/
/*----------------------Orçamento-------------------*/
.orcamento {
    padding-top: 50px;
    padding-bottom: 25px;
}
.orcamento h3 {
    margin-top: 50px;
    margin-bottom: 35px;
}
.orcamento h3,
.orcamento h3 strong,
.orcamento h3 span {
    font-family: "Longdoosi";
    color: #ffffff;
    text-transform: uppercase;
    text-align: right;
    line-height: 50px;
}
.orcamento h3 strong {
    color: #f2cb05;
    font-size: 70px;
    line-height: 50px;
}
.orcamento .btn {
    background: #1371ff;
    border-radius: 30px;
    height: 60px;
    color: #ffffff;
    padding: 0;
    float: right;
    margin-bottom: 15px;
}
.orcamento .btn i {
    padding: 14px;
    padding-left: 27px;
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}
.orcamento .btn span {
    font-family: tahoma;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}
.orcamento img {
    position: relative;
    bottom: -100px;
    width: 100%;
}
/*----------------------Orçamento-------------------*/
/*----------------------prev produto-------------------*/
a:hover .box-text {
    background: #427660;
    display: block;
}
.title h3 {
    font-family: "Longdoosi";
    color: #f20031;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.box-produto {
    padding: 50px 0;
}
.box-produto .item {
    max-width: 350px;
    margin: auto;
    margin-bottom: 40px;
}
.box-produto .box-img {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.box-produto .box-img {
    max-width: 350px;
}
.box-produto .box-img img {
    /*
    width: 100%;
    max-height: none !important;
    */
    width: 100%;
    height: 100vw;
    object-fit: cover;
}
.box-produto .box-img-list {
    height: 200px !important;
}

.box-produto .box-text {
    background: #f20031;
    min-height: 72px;
    padding: 20px 30px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.box-produto .box-text-individual {
    background: #f20031;
    padding: 10px 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.box-produto .box-text-individual h5 {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    color: #ffffff;
    font-family: tahoma;
}
.box-produto .box-text-individual i {
    color: #ffffff;
    font-size: 20px;
    float: right;
}
.box-produto .box-text h5,
.box-produto .box-text span,
.item-chamada,
.item-chamada span {
    font-family: "Longdoosi";
    color: #ffffff;
    text-transform: uppercase;
}
.box-produto .box-text h5 {
    display: inline-block;
    font-size: 30px;
    line-height: 20px;
    margin: 0;
}
.box-produto .box-text .font-item-produto {
    font-family: tahoma !important;
    line-height: 25px !important;
}
.box-produto .box-text .icon-item-font {
    font-size: 30px !important;
}
.box-produto .box-text span {
    display: block;
    font-size: 19px;
}
.box-produto .box-text i {
    color: #ffffff;
    font-size: 40px;
    float: right;
}
.item-chamada {
    background: #f20031;
    height: 325px;
    font-size: 35px;
    line-height: 35px;
    padding: 60px 40px 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    max-width: 350px;
    margin: auto;
}
.item-chamada span {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 15px;
}
.item-chamada i {
    padding: 15px;
}
.title-produto-individual {
    font-family: longdoosi;
    color: #f20031;
    font-size: 2.5rem;
}
.title-produto-individual-subtitles {
    font-family: longdoosi;
    color: #f20031;
    font-size: 2rem;
}
.codigo-produto-individual {
    background-color: #f20031;
    color: #ffffff;
    font-family: tahoma;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-style: italic;
}
.description-produto-individual {
    font-family: tahoma;
    font-size: 14px;
}
a.btn-produto {
    border-radius: 40px;
    padding: 10px 19px;
    font-size: 14px;
    font-family: tahoma;
}
a.btn-produto:hover {
    background-color: #ffffff;
    color: #f57514;
}
/*----------------------prev produto-------------------*/
/*----------------------prev empresa-------------------*/
.prev-empresa {
    background: #1371ff;
    padding: 100px 0;
}
.prev-empresa h4,
.prev-empresa p {
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}
.prev-empresa h4 {
    font-family: "Longdoosi";
    margin: 0;
    margin-top: 40px;
}
.prev-empresa img {
    max-width: 100%;
}
.prev-empresa p {
    font-family: tahoma;
    font-weight: bold;
}
.prev-empresa a {
    color: #ffffff;
    font-family: "Longdoosi";
    font-size: 30px;
    margin-top: 60px;
    display: block;
}
.prev-empresa a:hover {
    color: #f20032;
}
.prev-empresa a i {
    padding: 15px;
    font-size: 20px;
}
/*----------------------prev empresa-------------------*/
/*----------------------Formar de contato-------------------*/
h3.title-contact {
    font-family: "Longdoosi";
    color: #790003;
}

.form-contato {
    background-color: #b6f1ff;
    background-image: url(../img/bg_contato.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 500px;
    padding-top: 150px;
    padding-bottom: 250px;
}
.form-contato .container {
    background: #59d1e8;
    border-radius: 50px;

    text-transform: uppercase;
}
.form-contato h4 {
    margin-top: 20px;
}
.form-contato h4 span {
    font-family: "Longdoosi";
    color: #1371ff;
    line-height: 35px;
    font-size: 45px;
    text-transform: uppercase;
    text-align: right;
    display: block;
}
.form-contato span {
    color: #ffffff;
    font-family: tahoma;
    font-weight: bold;
    line-height: 20px;
    font-size: 13px;
}
.form-contato strong {
    font-size: 20px;
    line-height: 14px;
    display: block;
    font-family: tahoma;
    color: #1371ff;
    margin-bottom: 20px;
}
.form-contato img {
    margin-top: -90px;
}
.form-contato .mt {
    margin-top: 70px;
}
/*----------------------Formar de contato-------------------*/
/*----------------------Footer-------------------*/
footer {
    color: #ffffff;
    clear: both;
}
.topo_footer {
    padding: 20px 0;
}
.topo_footer {
    background: #427661;
}
.topo_footer .social .icon {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #646464;
    margin: 20px 10px;
}
.topo_footer .social {
    float: right;
}
.topo_footer .social a {
    color: #ffffff;
    font-size: 23px;
}
.topo_footer .social .insta {
    background: #d62978;
}
.topo_footer .social .face {
    background: #3b5999;
}
.topo_footer .social .whats {
    background: #4dc247;
}
.corpo_footer {
    padding: 50px 0;
    background: #265a45;
}
.corpo_footer h3 {
    text-align: left;
    font-size: initial;
}
.corpo_footer h3 a {
    color: #ffffff;
    font-family: longdoosi;
    font-size: 26px;
}
.corpo_footer h3 a:hover {
    color: #ffdc48;
}
.corpo_footer ul {
    margin-top: 20px;
}
.corpo_footer ul a {
    font-family: tahoma;
    color: #ffffff;
    font-size: 14px;
    padding: 4px 0;
    display: block;
}
.corpo_footer ul a:hover {
    color: #ffdc48;
}
.assina {
    background: #00321e;
    padding: 15px 0;
}
.assina span {
    color: #8dcc27;
    font-family: tahoma;
    font-size: 12px;
    padding: 16px 0;
    display: inline-block;
}

a.box-whats {
    width: 70px;
    height: 70px;
    background: #4dc247;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 20px;
    z-index: 999;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
a.box-whats span {
    color: #ffffff;
    font-family: longdoosi;
    font-size: 30px;
    display: none;
    vertical-align: middle;
    color: #233b25;
}
a.box-whats i {
    color: #ffffff;
    font-size: 40px;
    padding: 15px 18px;
    display: inline-block;
    vertical-align: middle;
}
a.box-whats:hover i {
    font-size: 44px;
    padding: 13px 16px;
    color: #233b25;
}
/*----------------------Footer-------------------*/
/*----------------------EMPRESA - prev produtos-------------------*/
.title-int {
    background: url(../img/bg-title.png);
    background-position: center;
    margin: 0 0 40px 0;
    padding: 40px 0;
}
.title-int h2 {
    margin: 0;
    padding: 0;
    font-family: longdoosi;
    color: #f20031;
    font-size: 55px;
}
.title-int .breadcrumbs {
    background-color: #f20031;
    color: #ffffff;
    font-family: tahoma;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}
.title-int .breadcrumbs a {
    color: #ffffff;
    font-family: tahoma;
}
.title-int .breadcrumbs a:hover {
    color: #ffffff;
    font-family: tahoma;
    text-decoration: underline;
}
.box-empresa {
    background: #f20031;
    border-radius: 40px;
    padding: 40px 40px;
    margin-bottom: 70px;
}
.box-empresa p {
    color: #ffffff;
    font-style: italic;
    font-family: tahoma;
    text-align: justify;
    font-size: 20px;
}
.box-empresa img {
    border-radius: 20px;
    width: 100%;
}
.prev-int-produtos {
    background: #233b25;
}
.prev-int-produtos h4,
.prev-int-produtos p {
    text-transform: uppercase;
    text-align: left;
    font-family: "Longdoosi";
}
.prev-int-produtos h4 {
    margin: 0;
    margin-top: 0;
    font-size: 60px;
    line-height: 44px;
    color: #8dcc27;
}
.prev-int-produtos img {
    max-width: 100%;
}
.prev-int-produtos p {
    color: #ffffff;
    margin: 55px 0 0 0;
    font-size: 25px;
}
.prev-int-produtos a {
    color: #ffffff;
    font-family: "Longdoosi";
    font-size: 30px;
    margin-top: 75px;
    display: block;
}
.prev-int-produtos a:hover {
    color: #8dcc27;
}
.prev-int-produtos a i {
    padding: 15px;
    font-size: 20px;
}
/*----------------------prev empresa-------------------*/

.g_maps {
    padding: 0px;
    height: 350px;
}
.g_maps iframe {
    width: 100%;
    height: 350px;
}

/*----------------------Forms-------------------*/
.invalid-feedback {
    display: block !important;
    margin-top: 0 !important;
    margin-left: 7px !important;
    font-family: tahoma !important;
}

.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    position: relative !important;
}

.alert {
    padding: 0.75rem 1.25rem !important;
    margin-bottom: 1rem !important;
    border: 1px solid transparent !important;
    border-radius: 0.25rem !important;
    position: relative !important;
    max-width: 100% !important;
}

.form-control {
    margin: 7px !important;
    border: 1px solid #790003;
    font-family: tahoma !important;
}

.btn-send {
    font-family: tahoma !important;
    color: white;
    background-color: #790003;
    border-radius: 5px;
    border-color: #790003;
    padding: 7px 28px;
}

/*----------------------Carrinho-------------------*/
.font-tahoma {
    font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
}

.table thead tr th,
.table tfoot tr th {
    font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif !important;
    font-weight: 500 !important;
    font-size: 16px;
}

.table tbody tr td {
    font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif !important;
    font-size: 14px;
}

.table tbody tr td small {
    font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif !important;
    font-size: 12px;
    color: darkgray;
}

.table tbody tr td a {
    font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif !important;
    font-size: 14px;
}

.btnUpdateProduct {
    border: 0;
    background-color: white;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

.txtUpdateProduct {
    width: 20px !important;
    text-align: center;
    background-color: white !important;
}

.icon-remove {
    font-size: 20px !important;
    color: #e95b48 !important;
}
